<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>Carpooling application</display-name>
  <servlet>
    <description>
		</description>
    <display-name>usercontroller</display-name>
    <servlet-name>usercontroller</servlet-name>
    <servlet-class>edu.mum.wap.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usercontroller</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>postcontroller</display-name>
    <servlet-name>postcontroller</servlet-name>
    <servlet-class>edu.mum.wap.controller.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postcontroller</servlet-name>
    <url-pattern>/posts/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>commentcontroller</display-name>
    <servlet-name>commentcontroller</servlet-name>
    <servlet-class>edu.mum.wap.controller.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentcontroller</servlet-name>
    <url-pattern>/comments/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>
		</description>
    <display-name>postcommentscontroller</display-name>
    <servlet-name>postcommentscontroller</servlet-name>
    <servlet-class>edu.mum.wap.controller.PostCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postcommentscontroller</servlet-name>
    <url-pattern>/postcomments/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>