/* 
#tabs{
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 100px;
} */
.commentsection{
    background-color: lightblue;
}
#tabs{
	margin-right: 100px;
	margin-left: 100px;
}
.navbar {
    border-radius: 4px;
    background-color: #e0f3fa;
}
.ui-widget-content{
	border: 0px !important;
	background-color: #f8f6f6;
}
.commentsection {
    background-color: #f7eff8;
}
#addnewpostbutton{
	float:right;
}
.likesection{
	font-style: italic;
}
#agelimitdiv{
	margin-left: 200px;
}
#loadingcomponent{
	position: fixed;
	bottom: 0px;
	right: 0px;
}